
<h1>Product List</h1>


<br />
<a asp-action="add">Ürün Ekle</a>
<br />


@model List<ProductViewModel>

@if(TempData["Message"]!= null)
{
   <div class="alert alert-success my-3">@TempData["Message"]</div>
}

<br />


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>IsPublish</th>
            <th>Expire</th>
            <th>Description</th>
            <th>Date</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in @Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Stock</td>
                <td>@p.Color</td>
                <td>@p.IsPublish</td>
                <td>@p.Expire</td>
                <td>@p.CreatedTime</td>
                <td>@(p.Description.Length > 20 ? p.Description.Substring(0,20)+"..." : p.Description) </td>
                <td>
                    <a class="btn btn-warning" asp-action="update" asp-route-id="@p.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-action="delete" asp-route-id="@p.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<ul>
</ul>
